#about {
    background-color: #your-bg-color-secondary; /* Replace with actual color */
    width: 100vw;
}

.about {
    padding: 50px 0;
}

@media (min-width: 1200px) {
    .about {
        max-width: 1250px;
    }
}

.about-container {
    display: flex;
}

p {
    margin: 20px 0;
    line-height: 1.8;
}

.about-sec {
    width: 50%;
}

.family-photo {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#check {
    display: none !important;
}

#check:checked ~ .more-content {
    display: block;
}

#check:checked ~ label {
    display: none;
}

.check {
    font-size: 1rem;
}

@media (min-width: 960px) {
    .check {
        font-size: 1.2rem;
    }
}

.more-content {
    display: none;
}

.skills-sec h3 {
    padding-bottom: 22px;
}

.skills-sec {
    width: 50%;
}

.skills-container {
    margin: auto;
    width: 300px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    display: inline-block;
    font-size: 1.8rem;
    color: #your-primary-color-light; /* Replace with actual color */
    background-color: #your-primary-color; /* Replace with actual color */
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

@media (min-width: 480px) {
    .test {
        color: blue;
    }
}

@media (min-width: 720px) {
    .test {
        color: green;
    }
}

@media (min-width: 960px) {
    .test {
        color: orange;
    }
}

@media (min-width: 1200px) {
    .test {
        color: yellow;
    }
}
