/* Sidebar */
.sidebar {  
  color: #13293D;
  padding: 16px;
}

.sidebar-body {
 
  width: 100%;
  margin: 0 auto;
  
}

.sidebar-nav-container{
  display: flex;
  justify-content: center;
}



.sidebar-icon {
  font-size: 24px;
  text-align: center;
}

.sidebar-text{
  font-weight: bold;
}

.sidebar-link {
  text-align: center;
  text-decoration: none;
  color: #13293D;
  outline:2px solid yellow;
  padding: 10px;
  font-size: 16px;  
  border-radius: 50px;
  margin: 2px;
}

/* mouse over link */
.sidebar-link:hover {
  /* opacity: 0.6; */
  color:#9FFFCB;
  background-color: #13293D;

}

/* selected link */
.sidebar-link:active {
  color: blue;
}